@import "reset.scss";
@import "variable.scss";
// Home.jsx
.wrapper {
  $this: &;

  display: flex;
  justify-content: center;
  height: 100%;
  &-content {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;

    background: $mainBackground;
  }

  &-content__top {
    padding: 33px 44px 0;
  }

  &-content__section {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 39px 33px 22px 33px;

    &-itembox {
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

// Header

.header {
  display: flex;
  justify-content: center;

  &-title {
    color: $title;
    font-size: 18px;
    font-weight: 500;
  }
}

// InputForm

.input-wrap {
  display: flex;
  border-radius: 45px;
  overflow: hidden;
  margin-top: 36px;
  &__input {
    width: 100%;
    padding: 18px 22px;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $placeholder;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__btn {
    padding: 0 12px;
    background: $addBtnBackground;
    &.update {
      background: $updateBtnBackground;
    }

    &-text {
      color: $text;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
// ItemContainer

.item-wrap {
  $this: &;
  display: flex;
  justify-content: space-between;
  padding: 19px 6px 19px 12px;
  margin: unset;
  border-radius: 15px;
  background: $itemboxBackground;

  // checkbox , label

  &__checkbox_item {
    display: flex;
    gap: 0 11px;
    color: $itemboxText;
    font-size: 18px;
    font-weight: 500;

    &-checkbox {
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 0 12px;
    }
  }

  // edit, delete button

  &__button_item {
    display: flex;
    gap: 0 7px;
    &-button {
      border: none;
      cursor: pointer;
      background: none;
      padding: 0;
    }
  }

  // checkbox가 체크됐을때, 스타일 적용
  &.checked {
    opacity: 0.6;

    #{$this}__checkbox_item-label {
      color: $checkedItembox;
      text-decoration: line-through;
    }
  }
}
