// main background color
$mainBackground: #ebebeb;

// header title color
$title: #2b2b2b;

// placeholder color
$placeholder: #d1d1d1;

// button background color - Add
$addBtnBackground: #07d1ad;

// button background color - update
$updateBtnBackground: #d129ec;

// textColor
$text: #ffffff;

// itembox background color
$itemboxBackground: #ffffff;

// itembox text color
$itemboxText: #2b2b2b;

// checked itembox text color
$checkedItembox: #787878;
